#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul.players {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul.players > li {
  --highlight: #c5c1bf;
  height: 5em;
  width: 500px;
  color: var(--highlight);
  border: 3px solid var(--highlight);
  border-radius: 14px;
  padding: 6px;
  list-style: "𑁔";
  cursor: grab;
  align-items: center;
  display: flex;
  gap: 6px;
}

ul.players > li::before {
  font-weight: bold;
  font-size: 1.5em;
  content: "⠿";
  line-height: 1;
}