.filename {
  text-align: left;
  line-height: 1;
  margin: .33em 0;
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
  visibility: hidden;
}

.upload-button {
  width: 100%;
  height: 100%;
  color: var(--highlight);
}
